<h2>Edit <%= resource_name.to_s.humanize %></h2>

<p><%= current_user.usertype %></p>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>

    <%= f.input :email %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <%= f.input :username %>
    <% if current_user.usertype == "jobHunter" %>
    <%= f.input :firstname %>
    <%= f.input :surname %>
    <%= f.input :dob, label: 'Date of Birth', as: :date, start_year: Date.today.year - 90,
                end_year: Date.today.year - 16,
                order: [:day, :month, :year] %>
    <% end %>
    <% if current_user.usertype == "jobHunter || smallCo" %>
    <%= f.input :bio, label: 'Tell us about you', hint: 'Maximum 300 characters' %>
    <% end %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :city %>
    <%= f.input :county, :collection => ["Carlow", "Cavan", "Clare", "Cork", "Donegal", "Dublin 1", "Dublin 2", "Dublin 3", "Dublin 4", "Dublin 5",
                                         "Dublin 6", "Dublin 6w", "Dublin 7", "Dublin 8", "Dublin 9", "Dublin 10", "Dublin 11", "Dublin 12",
                                         "Dublin 13", "Dublin 14", "Dublin 15", "Dublin 16", "Dublin 17", "Dublin 18", "Dublin 19", "Dublin 20",
                                         "Dublin 21", "Dublin 22", "Dublin 23", "Dublin 24", "Co. Dublin", "Galway", "Kerry", "Kildare", "Kilkenny",
                                         "Laois", "Leitrim", "Limerick", "Longford", "Louth", "Mayo", "Meath", "Monaghan", "Offaly", "Roscommon",
                                         "Sligo", "Tipperary", "Waterford", "Westmeath", "Wexford", "Wicklow"], prompt: 'Select your county' %>
    <% if current_user.usertype != "jobHunter" %>
    <%= f.input :launchedIn, label: 'Year business launched', as: :date, start_year: Date.today.year - 300,
                end_year: Date.today.year, discard_day: true, discard_month: true, order: [:year] %>
    <%= f.input :industry, :collection => ["Academic", "Accounting", "Architecture", "Banking", "Beauty" "Childcare", "Education", "Finance", "Financial Services",
"Healthcare", "Hotels", "Recruitment", "IT", "Legal", "Leisure", "Manufacturing", "Marketing", "Media", "Medical" "Motor", "Pharmaceutical",
    "Property", "Pubs", "Restaurants", "Retail-Fashion", "Retail-Grocery", "Secretarial", "Security", "Travel", "Undertaker" ], prompt: 'Choose an Industry' %>
        <% end %>
        <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :current_password %>

  <div><%= f.submit "Update", :class => 'btn btn-primary' %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-primary' %></p>

<%= link_to "Back", :back %>
