<h2>Register</h2>

<%= simple_form_for(resource, :as => resource_name, :html => { :class => 'form-horizontal' }, :url => registration_path(resource_name)) do |f| %>


    <%= f.input :email, placeholder: 'example@domain.com' %>
    <%= f.input :username %>
    <%= f.radio_button :usertype, 'Jobhunter', class: 'radiobutton' %>
    <%= label :usertype, :value => 'Jobhunter' %>
    <%= f.radio_button :usertype, 'Freelancers & Small Businesses', class: 'radiobutton' %>
    <%= label :usertype, :value => 'Freelancers & Small Businesses' %>
    <%= f.radio_button :usertype, 'Hiring Business', class: 'radiobutton' %>
    <%= label :usertype, :value => 'Hiring Business' %>
    <%= f.radio_button :usertype, 'Recruitment Company', class: 'radiobutton' %>
    <%= label :usertype, :value => 'Recruitment Company' %>
    <ul id="jobHunter">
      <li><%= f.input :dob, label: 'Date of Birth', as: :date, start_year: Date.today.year - 90,
                  end_year: Date.today.year - 16,
                  order: [:day, :month, :year] %></li>
    </ul>
    <section id="smallBiz">
      <%= f.input :launchedIn, label: 'Year business launched', as: :date, start_year: Date.today.year - 300,
                  end_year: Date.today.year, discard_day: true, discard_month: true, order: [:year] %>
    </section>
    <section id="hireBiz">
      <%= f.input :industry, :collection => ["Academic", "Accounting", "Architecture", "Banking", "Beauty" "Childcare", "Education", "Finance", "Financial Services",
                                             "Healthcare", "Hotels", "Recruitment", "IT", "Legal", "Leisure", "Manufacturing", "Marketing", "Media", "Medical" "Motor", "Pharmaceutical",
                                             "Property", "Pubs", "Restaurants", "Retail-Fashion", "Retail-Grocery", "Secretarial", "Security", "Travel", "Undertaker" ], prompt: 'Choose an Industry' %>
    </section>
    <section id="recruiters">
      <%= f.input :bio, label: 'Tell us about you', hint: 'Maximum 300 characters' %>
    </section>

    <%= f.input :password %>
    <%= f.input :password_confirmation %>

  <div><%= f.submit "Register", :class => 'btn btn-primary' %></div>
<% end %>

<%= render "devise/shared/links" %>
