<% if @user.usertype == "jobHunter" %>
<h3><%= @user.firstname %> <%= @user.surname %>'s Profile</h3>
    <% else %>
<h3>Welcome to the profile page of <%= @user.businessName %></h3>
<% end %>
<br>
<% if @user.usertype == "jobHunter" %>
<p>Name: <%= @user.firstname %> <%= @user.surname %></p>
<p>Date of Birth: <%= @user.dob %></p>
<% end %>
<p>Account Type: <%= @user.usertype %></p>
<p>Username: <%= @user.username %></p>
<br>
<p>Email: <%= @user.email %></p>
<br>
<% if @user.usertype == "jobHunter || smallCo" %>
<p>Bio: <%= @user.bio %></p>
<% end %>
<br>
<p>Address Line 1: <%= @user.address1 %></p>
<p>Address Line 2: <%= @user.address2 %></p>
<p>Town or City: <%= @user.city %></p>
<p>County: <%= @user.county %></p>

