<h1>User Profile</h1>
<br>
<p>Username: <%= @user.username %></p>
<br>
<p>Email: <%= @user.email %></p>
<br>
<p>Bio: <%= @user.bio %></p>
<br>
<p>Address Line 1: <%= @user.address1 %></p>
<p>Address Line 2: <%= @user.address2 %></p>
<p>Town or City: <%= @user.city %></p>
<p>County: <%= @user.county %></p>
